<ion-content [fullscreen]="true">
  <div class="bg-gradient-to-b from-gray-900 to-black">
    <ion-grid [fixed]="true" class="h-screen">
      <ion-row class="h-[40%] items-center justify-center">
        <ion-col size="12" class="flex justify-center"> LOGO SPOTIFY </ion-col>
      </ion-row>
      <ion-row class="h-[30%]">
        <ion-col size="12" class="flex justify-center">
          <ion-text color="success">
            <h3>Millones de canciones</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="h-[30%]">
        <ion-col size="12" class="flex justify-center">Segunro</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
