<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-black">
    <ion-grid class="min-h-screen overflow-y-auto" [fixed]="true">

      <!-- Como hago -->
      <ion-row class="h-[40%] overflow-x-scroll flex-nowrap">

        @for(song of songs; track song.id){
          <ion-col size="6">
            <item-card [songName]="song.name" [artistName]="song.artistNames" [urlImage]="song.urlImage" [idSong]="song._id"/>
          </ion-col>
        }
        
      </ion-row>


    </ion-grid>
  </div>
</ion-content>
